<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Wallpoet&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <title>Steam finder</title>
  </head>

  <body>
    <header></header>

    <footer>
      <div class="container">
        <div class="sectionfooter">
          <div class="titlefooter">STEAM FINDER</div>
          <p class="texte-footer">
            Reference website which allows you to find your Steam companions Discover their friends,
            favorite games,...
          </p>
        </div>
        <div class="reseaux">
          <a href="https://www.wildcodeschool.com/fr-FR"
            ><img
              class="icone"
              src="/home/user/quetes/toulouse-0919-js-p2-steam_finder/ressources/wild.jpg"
              alt="wild"
          /></a>
          <a href="https://www.instagram.com/?hl=fr"
            ><img
              class="icone"
              src="/home/user/quetes/toulouse-0919-js-p2-steam_finder/ressources/instagram.png"
              alt="instagram"
          /></a>
          <a href="https://twitter.com"
            ><img
              class="icone"
              src="/home/user/quetes/toulouse-0919-js-p2-steam_finder/ressources/twitter.png"
              alt="twitter"
          /></a>
          <a href="https://facebook.com"
            ><img
              class="icone"
              src="/home/user/quetes/toulouse-0919-js-p2-steam_finder/ressources/facebook.png"
              alt="facebook"
          /></a>
          <a href="https://store.steampowered.com/?l=french"
            ><img
              class="icone"
              src="/home/user/quetes/toulouse-0919-js-p2-steam_finder/ressources/steam.png"
              alt="steam"
          /></a>
        </div>
        <div class="sectionfooter">
          <div class="titlefooter">LINKS</div>
          <a class="links" href="">Home</a>
          <a class="links" href="">About</a>
          <a class="links" href="">Contact us</a>
        </div>
      </div>
    </footer>
  </body>
</html>
