.nav {
  background-color: transparent;
  display: flex;
}

.img-nav {
  width: 50px;
}

.about-contact,
a {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 751px) {
  .about-contact {
    justify-content: flex-end;
  }
  .about-contact p {
    margin-left: 12px;
    margin-right: 50px;
    margin-top: 30px;
  }
  .img-nav {
    width: 70px;
    margin: 12px 0px 0px 12px;
  }
}
