.nav {
  background-color: transparent;
  display: flex;
}

.img-nav {
  width: 50px;
  margin: 10px;
}

.about-contact,
.link-navbar {
  display: flex;
  flex-basis: 100%;
  text-decoration: none;
  color: white;
  margin: 0px 12px 0px 12px;
  justify-content: flex-end;
}

.link-navbar {
  margin-top: 25px;
}

@media screen and (min-width: 751px) {
  .about-contact {
    justify-content: flex-end;
  }
  .about-contact p {
    margin-left: 12px;
    margin-right: 50px;
  }
  .img-nav {
    width: 70px;
    margin: 12px 0px 0px 12px;
  }
}
